<!-- Left Sidebar Filters -->
<div class="filters-sidebar">

  <div class="filter-header-wrapper">
    <div class="filter-header">Filters</div>
    <div class="flex-btn" onclick="toggleFilters()">
      <i class="fa-solid fa-eye-slash"></i>
    </div>
  </div>
  
  <div id="filter-objects">
    <div class="filter-group">
      <div id="category-filters"></div>
    </div>
    
    <div class="filter-buttons-wrapper">
      <div onclick="searchBasedOnFilters()" class="primary-btn">Apply Filters</div>
      <div onclick="clearAllFilters()" class="primary-btn">Remove Filters</div>
    </div>
  </div>
  
</div>