<!-- Left Sidebar Filters -->
<div class="filters-sidebar">

  <div class="filter-header-wrapper">
    <div class="filter-header">Filters</div>
    <div class="button-filter-collapse" onclick="toggleFilters()">Toggle</div>
  </div>
  
  <div id="filter-objects">
    <div class="filter-group">
      <div class="filter-group-header">Category</div>
      <div id="category-filters"></div>
    </div>
    
    <div class="filter-group">
      <div class="filter-group-header">Sub Category</div>
      <div id="subcategory-filters"></div>
    </div>
    
    <div class="filter-group">
      <div class="filter-group-header">Part Type</div>
      <div id="parttype-filters"></div>
    </div>
    
    <div onclick="clearAllFilters()" class="button-clear-filters">Clear All Filters</div>
  </div>
  
</div>