.filters-sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    background: #ffffff;
    padding: 15px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    height: fit-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-header {
    font-size: 24px;
    font-weight: 900;
}

.button-filter-collapse {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #1c1a33;
    color: #ffffff;
    border-radius: 3px;
    padding: 5px 20px;
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.button-filter-collapse:hover {
    background-color: #2d2a54;
    text-decoration: none;
    color: #ffffff;
    box-shadow: none !important;
    text-decoration: none !important;
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group-header {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #333;
}

.filter-checkbox {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}

.filter-checkbox input {
    margin-right: 8px;
}

.button-clear-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #1c1a33;
    color: #ffffff;
    border-radius: 3px;
    padding: 5px 20px;
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    cursor: pointer;
}

.button-clear-filters:hover {
    background-color: #2d2a54;
    text-decoration: none;
    color: #ffffff;
    box-shadow: none !important;
    text-decoration: none !important;
}

.filter-category-header,
.filter-subcategory-header {
    cursor: pointer;
    padding: 8px;
    font-weight: bold;
    user-select: none;
}

.filter-category-header:hover,
.filter-subcategory-header:hover {
    background: #f0f0f0;
}

.toggle-icon {
    display: inline-block;
    width: 20px;
    font-weight: bold;
}

.filter-subcategories,
.filter-parttypes {
    padding-left: 20px;
}

.filter-subcategory {
    margin: 5px 0;
}

.hidden {
    display: none;
}

.filter-checkbox {
    display: block;
    padding: 5px 0;
}

.filter-buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 768px) {

    .filters-sidebar {
        width: 100%;
    }

}