.filters-sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
    background: #ffffff;
    padding: 15px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    height: fit-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-header {
    font-size: 24px;
    font-weight: 900;
}

.filter-group {
    margin-bottom: 20px;
}

.button-clear-filters:hover {
    background-color: #2d2a54;
    text-decoration: none;
    color: #ffffff;
    box-shadow: none !important;
    text-decoration: none !important;
}

.filter-category-header,
.filter-subcategory-header {
    cursor: pointer;
    padding: 8px;
    font-weight: bold;
    user-select: none;
}

.filter-category-header:hover,
.filter-subcategory-header:hover {
    background: #f0f0f0;
}

.toggle-icon {
    display: inline-block;
    width: 20px;
    font-weight: bold;
}

.filter-subcategories,
.filter-parttypes {
    padding-left: 20px;
}

.filter-subcategory {
    margin: 5px 0;
}

.hidden {
    display: none;
}

.filter-checkbox {
    display: flex;
    align-items: start;
    padding: 5px 0;
}

.filter-checkbox input {
    margin: 5px 10px 0px 0px;
}

.filter-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 768px) {

    .filters-sidebar {
        width: 100%;
    }

}