#ymm-widget {
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-radius: 3px;
  padding: 16px;
  background: #eeeeee;
}

#ymm-widget h3 {
  margin-top: 0;
  color: #202223;
}

.widget-header-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.widget-header {
  color: #555555;
  font-size: 28px;
  font-weight: 900;
}

.widget-subheader {
  color: #555555;
  font-size: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.ymm-search {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.location-type {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.ymm-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.v-line {
  width: 1px;
  height: 40px;
  background-color: #ccc;
}

select {
  width: 100%;
  height: 40px;
  padding: 8px;
}

.ymm-search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: auto;
  max-width: max-content;
  height: 40px;
  max-height: 44px;
  min-height: 44px;
  background-color: #1c1a33;
  color: #ffffff;
  border-radius: 3px;
  padding: 5px 20px;
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  box-shadow: none;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  cursor: pointer;
}

.ymm-search-btn:hover {
  background-color: #2d2a54;
  text-decoration: none;
  color: #ffffff;
  box-shadow: none !important;
  text-decoration: none !important;
}

/* Tablet styles (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .row {
    flex-direction: column;
    width: 100%;
  }

  .v-line {
    display: none;
  }

  .location-type {
    justify-content: flex-start;
    gap: 40px;
  }
}

/* Mobile styles (up to 768px) */
@media (max-width: 768px) {
  
  .widget-header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .row {
    display: block;
    width: 100%;
  }

  .ymm-search {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .ymm-box {
    width: 100%;
  }

  .v-line {
    display: none;
  }

  .location-type {
    flex-direction: column;
  }

}